html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: papayawhip;
  height: 100vh;
}

.container {
  max-width: 100%;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list-items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 0;
}